.DS_Store
*.o
.deps/
.dirstamp
/autom4te.cache
/autoscan.log
/config.h
/config.log
/config.status
/Makefile
/stamp-h1
/source/dece.dSYM
/source/Makefile
/source/dece
/tools/decemacs
/tools/decephoto
/tools/decemf12
/tools/decemf4
/tools/decemf5
/tools/decemf6
/tools/deceangdist
/example/example1
/example/example2
/test/output
/test/output.org
/tmp

